{{> header}}
<div class="content">
    {{> navigate}}
    <section id="viewComments">
        <div class="post">
            <div class="col thumbnail">
                <a href="{{url}}">
                    <img src="{{imageUrl}}">
                </a>
            </div>
            <div class="post-content">
                <div class="title">
                    <a href="{{url}}">
                        {{title}}
                    </a>
                </div>
                <div class="details">
                    <p>{{descripton}}</p>
                    <div class="info">
                        submitted {{submitted}} ago by {{author}}
                    </div>
                    <div class="controls">
                        <ul>
                            {{#if isCreator}}
                                <li class="action"><a class="editLink" href="#/edit/post/:{{_id}}">edit</a></li>
                                <li class="action"><a class="deleteLink" href="#/delete/post/:{{_id}}">delete</a></li>
                            {{/if}}
                        </ul>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="post post-content">
            <form action="#/submit/comment" method="post" id="commentForm">
                <label>Comment</label>
                <input type="hidden" name="postId" value="{{postId}}">
                <textarea name="content" type="text"></textarea>
                <input type="submit" value="Add Comment" id="btnPostComment">
            </form>
        </div>
        {{#each comments}}
            {{> viewComment}}
        {{/each}}
    </section>
</div>
{{> footer}}