<tr>
    <td>{{name}}</td>
    <td>{{description}}</td>
    <th>{{quantity}}</th>
    <td>{{price}}</td>
    <td>
        <form method="post" action="#/discard/:{{_id}}">
            <button type="submit">Discard</button>
        </form>
    </td>
</tr>