{{> header}}
<div class="container">
    <section id="viewProfile">
        <div class="content">
            <div class="chirper">

                <h2 class="titlebar">{{username}}</h2>
                {{#if unfollowed}}
                <a id="btnFollow" class="chirp-author" href="#/follow/:{{username}}">Follow</a>
                    {{else}}
                    <a id="btnUnfollow" class="chirp-author" href="#/unfollow/:{{username}}">Unfollow</a>
                {{/if}}
                <div id="userProfileStats" class="user-details">
                    <span>1 chirps</span> | <span>0 following</span> | <span>2 followers</span>
                </div>
            </div>
            <div id="profileChirps" class="chirps"><h2 class="titlebar">Chirps</h2>
                {{#each chirps}}
                    {{> chirp}}
                {{else}}
                    <div class="chirp"><span class="loading">No chirps in database</span></div>
                {{/each}}
            </div>
        </div>
    </section>
</div>

{{> footer}}

